.MainContainer{
    background-color: white;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    height: 500px;
    width: 1000px;
    align-items: center;
    background-size: cover;
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    
}
.item-container{
    background-color: white; 
    padding: 10px 100px 100px 100px;
    align-items: center;
    border: double 4px  rgb(19, 7, 151);
    border-radius: 25px;
    width: 300px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.item2{
    background-color: white; 
    padding: 0px 50px 210px 50px;
    align-items: center;
    /* border: double 4px  rgb(19, 7, 151); */
    border-radius: 25px;
    width: 350px;
    height: 190px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
img{
    width: 250px;
}
.header{
    /* background-color: aquamarine; */
    line-height: 5px;
    margin-bottom: 5px;
}
p{
    line-height: 5px;
    font-size: small;
}
.user-class{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-image: url(user.png);
    background-repeat: no-repeat;
    background-position: 1px 1px;
    background-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding-left: 32px;
    font-size: medium;
}
.pass-class{
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-image: url(password.png);
    background-repeat: no-repeat;
    background-position: 1px 0px;
    background-size: 30px;
    margin-bottom: 10px;
    padding-left: 32px;
    font-size: medium;
}
.button-class{
    width: 200px;
    height: 30px;
    background-color: blue;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-size: medium;
}
body{
    background-image: url(background2.png);
}
#PriHead {
    /* background-color: cadetblue; */
    position: fixed;
    top:70px;
    left: 500px;
    right: 500px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}